build/*
integration_tests/bin/*
integration_tests/generated/*
**/.dacecache/**
**/_dotgraphs/**

.gitignore

# Ignore IDEs
.idea
.vscode/
**/compile_commands.json
.clangd/

## manual tests
parser/*.sdfg
parser/*.iir

## manual configuration
**/config.mk

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
